body {
  box-sizing: border-box;
  margin: 0; 
}
/* Nav */
.nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 77, 103);
  color: white;

}

.nav img {
  width: 2rem;
  margin-right: 1rem;
}
/* End Nav */

/* Card */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  
}

.card-content {
  width: 60%;
  margin-left:2rem;
}
.card img {
  width: 10rem;
  border-radius: 15px;
}

.card-location img {
  width: 1rem;
}

.card-location span {
  margin-right: 1rem;
}